/* styles.css */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}

.highlighted {
  color: #dc2626;
  font-weight: bold;
}

.leaflet-popup-content {
  font-size: 14px;
  font-weight: 500;
}
